body {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

button {
    font-family: 'Press Start 2P', cursive;
    height:30px;
    border-radius: 5px;
    font-size: 12px;
    /* margin-bottom: 10px; */
}

.gameContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.gameCanvas {
    position: relative;
}

.avatarSelection {
    position: absolute;
    top: 20%;
    left: 50%;
    min-width: 340px;
    text-align: center;
    transform: translateX(-50%);
    background-color: #dfd9c8;
    border-radius: 10px;
}

.avatarSelection {
    padding-top: 15px;
}

.avatarUl {
    list-style: none;
    padding-left: 0;
}

.right-nav-arrow {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 35px;
}

.left-nav-arrow {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 35px;
}

.score {
    margin-bottom: 0;
    text-align: center;
    padding-right: 70px;
    margin-top: 20px;
}

.playerLives {
    padding-left: 15px;
    margin-top: 20px;
}

.playerLives ul {
    list-style:none;
    padding-left: 0;
}

.playerLives ul li {
    width: 70px;
    height: 80px;
}

.playerLives ul li img {
    width: 70px;
    height: auto;
}

.avatar-selected {
    margin-bottom: 10px;
}

.modal {
    position: absolute;
    top: 20%;
}

.modal-content {
    background-color: #dfd9c8;
}

.modal-header, 
.modal-footer {
    display: flex;
    justify-content: center;
}

.modal-body p {
    font-size:10px;
}

.btn-primary {
    background-color: #65c44d;
    border-color: #65c44d;
}


