body {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

.gameContainer {
    display: flex;
    flex-direction: row-reverse;
}

.score {
    margin-bottom: 0;
}

.playerLives {
    padding-left: 15px;
}

.playerLives ul {
    list-style:none;
    padding-left: 0;
}

.playerLives ul li {
    width: 70px;
    height: 80px;
}

.playerLives ul li img {
    width: 70px;
    height: auto;
}