body {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

.gameContainer {
    display: flex;
    flex-direction: row-reverse;
}

.gameCanvas {
    position: relative;
}

.avatarSelection {
    position: absolute;
    top: 20%;
    left: 50%;
    min-width: 340px;
    text-align: center;
    transform: translateX(-50%);
    background-color: #dfd9c8;
    border-radius: 10px;
}

.avatarUl {
    list-style: none;
    padding-left: 0;
}

.score {
    margin-bottom: 0;
}

.playerLives {
    padding-left: 15px;
}

.playerLives ul {
    list-style:none;
    padding-left: 0;
}

.playerLives ul li {
    width: 70px;
    height: 80px;
}

.playerLives ul li img {
    width: 70px;
    height: auto;
}